@import "../config/globals";

body, input, button, textarea, h1{
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

body{
    background-color: $base-color;
}

.todos-main-wrapper{
    min-width: $main-form-size;
    max-width: $main-form-size*2;
    margin: 0 auto;
    padding: 0;
}

