$c-white: #fff;
$c-white-dark: #fafafa;
$c-gray-dark: #d6d6d6;
$c-gray-light: #ddd;
$c-grey-light-light: #ccc;
$c-black-light:#666;
$border-color: #efefef;
$base-color: #f5f5f5;
$c-pink-light: rgba(175, 47, 47, .15);
