.todos-list{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    }

    .todos-item{
        margin: 0;
        padding: 0px;
        border-bottom: 1px solid #efefef;
        border-top: 1px solid #efefef;
    }

        .todos-item:after{
            content: '';
            display: block;
            clear: both;
            }

        .todos-item:hover{
            background: #fafafa;
        }

        /*CHECK BUTTOM*/
        .todos-item_done-mark-w,
        .todos-item_undone-mark-w{
            width: 40px;
            height: 40px;

            background: none;
            border: none;
            padding: 0;
            margin: 12px;

            border-radius: 4em;

            float: left;

            position: relative;
            }

            .todos-item_done-mark-w{
                border: 2px solid #67c5b3;
                }

            .todos-item_undone-mark-w{
                border: 2px solid #efefef;
                }

            .todos-item_done-mark,
            .todos-item_undone-mark{
                position: absolute;
                left: 25%;
                top: 25%;
                transform: scale(3);
                opacity: -1;
                }

            .todos-item_undone-mark + .todos-item_undone-mark-icon{
                width: 24px;
                height: 24px;

                background: url('../../../../images/icons/completed.png') no-repeat 0 0;
                filter: grayscale(100%);
                position: absolute;
                left: 50%;
                top: 50%;

                margin: -6px -12px;
                }

            .todos-item_done-mark + .todos-item_done-mark-icon{
                width: 24px;
                height: 24px;

                background: url('../../../../images/icons/completed.png') no-repeat 0 0;
                position: absolute;
                left: 50%;
                top: 50%;

                margin: -6px -12px;
                }
        /* NAME*/
        .todos-item_name-w{
            overflow: hidden;
            height: 64px;
            }

            .todos-item_name{
                overflow: hidden;
                width: 100%;

                box-sizing: border-box;
                background: none;

                color: #666;
                line-height: 30px;
                font-weight: 200;
                padding-right: 12px;
                margin-top: 14px;
                outline: none;
                resize: none;
                border: none;
                margin-bottom: 0;
                }
            .__done > .todos-item_name-w > .todos-item_name{
                text-decoration:line-through;
            }

        /*DELETE BUTTOM*/
        .todos-item_delete{
            width: 64px;
            height: 64px;

            background: none;
            border: none;
            padding: 0;
            margin: 0;

            float: right;

            position: relative;
            }

            .todos-item_delete:hover{
                filter: brightness(0);
                }

            .todos-item_delete_icon{
                width: 24px;
                height: 24px;

                background: url('../../../../images/icons/close.png') no-repeat 0 0;
                position: absolute;
                left: 50%;
                top: 50%;

                margin: -6px -12px;
                }




