.todos-actions-bar{
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 1vw;
    color: #d6d6d6;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    }

    .todos-actions-bar_counter-undone{
        padding-top: 12px;
        margin: 12px;
        height: 40px;


       }

    .todos-filters{
        height: 40px;
        margin: 12px;
        padding-top: 12px;

        }
        .todos-filter{
            font-size: 1vw;
            color: #d6d6d6;
            padding: 0;
            padding-left: 3px;
            padding-right: 3px;
            margin: 0;
            box-sizing: border-box;
            border: 0;
            background: none;
            }

            .todos-filter:hover{
                border: 2px solid #efefef;
                border-radius: 2px;
                }

    .todos-actions-bar_delete-done{
        padding: 0;
        margin: 12px;
        height: 40px;
        font-size: 1vw;
        color: #d6d6d6;
        box-sizing: border-box;
        border: 0;
        line-height: 20px;
        background: none;
        outline: none;
        }

        .todos-actions-bar_delete-done-text{
            padding: 0;
            margin: 0;
        }

        .todos-actions-bar_delete-done:hover > .todos-actions-bar_delete-done-text{
            border: 2px solid #efefef;
            border-radius: 2px;
            }
